{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Sign In{% endblock title %}

{% block content %}
<div class="container mt-5 col-lg-4 offset-lg-4 p-4 review-display" >
  <div class="row justify-content-center">
      <div class="col-md8 ">
        
        <h1 class="greenink"> Sign In</h1>

        <form class="greenink" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy}}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="button secondaryAction greenink linkhover" href="{% url 'account_reset_password' %}">Forgot Password?</a>
          <button class="primaryAction greenbutton linkhover p-1" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}
