{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Change Password{% endblock %}

{% block content %}
<div class="container mt-5 col-lg-4 offset-lg-4 p-4 review-display  " >
    <h1 class="greenink">Change Password</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change greenink">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class=" greenbutton linkhover p-1" name="action">Change Password</button>
    </form>
<div class="container mt-5 col-lg-4 offset-lg-4 p-4 review-display  " >
{% endblock %}
