{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container mt-5 col-lg-4 offset-lg-4 p-4 review-display  " >

        <h1 class="greenink">Password Reset</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="greenink">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

        <form method="POST" class="greenink" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="greenbutton hoverbutton" value="Reset My Password" />
        </form>

        <p class="greenink ">Please contact us if you have any trouble resetting your password.</p>

    </div>
{% endblock %}
