{% extends "socialaccount/base.html" %}
{% load socialaccount %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mt-5 col-lg-4 offset-lg-4 p-4 review-display" >
  <h1 class="greenink">Sign Up</h1>

  <p class="greenink">Already have an account? Then please <a class="text-white" href="{{ login_url }}">sign in</a>.</p>

  <form class="signup greenink" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="greenbutton hoverbutton" type="submit">Sign Up &raquo;</button>
  </form>
</div>
{% endblock %}
