{% extends "base.html" %}
{% block title%}Home{% endblock title %}


{% block content%}
    <div id="stockbtndiv" class="container text-center">
      <a id="stockbtn" class="btn" href="{% url 'stock:stock' %}">
       Check out our stock
      </a>
    </div>
    <div>
        <div id="image-container" class="d-flex">
        </div>
        <div class="text-center text-white p-1">
            <h3 id="middlehead">Featured New and Used Vehicles</h3>
        </div>
          <div id="carowrap">
            <div id="carousel">
                <div id="caro"  class="mb-2  p-2">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner" >
                          
                          {% for vehicle in vehicles %}
                            {% if forloop.first %}
                              <div class="carousel-item active" >
                                <a href="{% url 'stock:stock_detail' vehicle.pk %}">
                                  <div class="imagewrap">
                                  <img class="d-block w-100 img-height" src="{{vehicle.image_url}}" alt="{{ vehicle.maker }} {{ vehicle.model }}">
                                  </div>
                                  <div class="text-white text-center bg-dark cardetail">
                                      <h5>{{vehicle.maker}} {{vehicle.model}}</h5>
                                      <p> Fuel: {{ vehicle.fuel }} ~  Year: {{ vehicle.year|floatformat:"0u" }}</p>
                                  </div>
                                </a>
                              </div>
                              
                            {% else %}
                              <div class="carousel-item " aria-label="vehicle {{forloop.counter}}">
                                <a href="{% url 'stock:stock_detail' vehicle.pk %}">
                                  <div class="imagewrap">
                                    <img class="d-block w-100 img-height" src="{{vehicle.image_url}}" alt=" {{ vehicle.maker }} {{ vehicle.model }}">
                                  </div>
                                  <div class="text-white text-center bg-dark cardetail">
                                    <h5>{{vehicle.maker}} {{vehicle.model}}</h5>
                                    <p> Fuel: {{ vehicle.fuel }} ~  Year: {{ vehicle.year|floatformat:"0u" }}</p>
                                  </div>
                                </a>
                              </div>

                            {% endif %}
                          {% empty %}
                              <div class="carousel-item active" aria-label="no vehicles yet" >
                                
                              </div>
                          {% endfor %}
                          
                        </div>
                    </div>
                </div> 
            </div>
          </div>
    </div>
{% endblock content %}