{% extends "base.html" %}
{% block title%}Home{% endblock title %}


{% block content%}
<div>
     <h1 class="text-white text-center my-2" >Our Location</h1>
</div>
<div class=" container map-responsive my-3 text-center" aria-hidden="True">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9524.973924474934!2d-6.311120694419731!3d53.3567972984307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sie!4v1663537442012!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock content %}