{% extends "base.html" %}
{% load static %}
{% block title%}Profile{% endblock title %}


{% block content%}
    <div class="w-100">
        <h1 class="w-100 text-white text-center"> My Profile</h1>
    </div>

    <div class="row container-fluid no gutters mx-auto" >
        <!-- offset-1 col-10 offset-lg-3 col-lg-6 p-5 -->
        <div class="small lead-md col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 ">
            
            <p class=" text-white"> Address Details</p>
            <hr class="text-white" style="border:1px solid white">
            

            <form class="mt-3 text-white" action="{% url 'profiles:profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-between">
                    <a style="color:black!important;" class="btn-sm  greenbutton linkhover  border border-dark rounded" href="{% url 'account_change_password' %}" >Change Password</a>
                    <button class="btn-sm greenbutton linkhover  border border-dark rounded">Update Information</button>

                </div>
               
            </form>    
        </div> 

        <div class=" small lead-md col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 mt-5 mt-lg-0 ">
            <p class=" text-white"> Order History</p>
            <hr class="text-white" style="border:1px solid white">
            <div id="orderhistorytable" class="col-12 ">
                
                <div class="order-history table-responsive ">
                    <table class="table table-sm table-borderless text-white">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'profiles:order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ order.date.day }}/{{ order.date.month}}/{{ order.date.year}}
                                    </td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="">
                                                    {{ item.product.maker }} {{ item.product.model }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>€{{ order.grand_total|floatformat:0 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        
    </div>

    <div class="row no-gutters align-items-center">
        <div class="offset-1 col-10 col-lg-5 w-50">
            <a id="allvehlink" href="{% url 'home:home' %}" class="btn btn-outline-black rounded-0 mt-2 linkhover">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase ">Back To Home Page</span>
            </a>

        </div>
    </div>
{% endblock content %}