html {
    height:100%;
}

body {
    min-height: 100vh;
    background-color:black;
}

a {
    color: white !important;
}

* {
    
    padding:0;
    border:none;
    margin:0;
}

#logo-main a {
    text-decoration: none;
}
#logo-main a:hover {
    cursor: pointer;
    color: aqua !important;
    
}

.navbar-toggler {
    background-color: white!important;
    border:1px solid black!important;
    color: black !important;
}

li.nav-item.dropdown {
    list-style-type: none;
}
#image{
    vertical-align: top;
    height:35vh;
    width:100vw;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/v1659362355/media/pp5/ferrari-320-pp5_mjovzg.jpg");
    /*
*/
}




/*-----media queries----*/

@media screen and (min-width:768px) {
    #image {
        background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/v1659363121/media/pp5/ferrari-wide-pp5_txvw8g.jpg");
    }
}