html {
     height:100%; 
     scroll-behavior: smooth;
}
/*grepper code for equalising div heights*/
.row {
    display: flex; /* equal height of the children */
  }
 
.col {
    flex: 1; /* additionally, equal width */
    
    padding: 1em;
    border: solid;
  }

body {
    min-height: 100vh;
    background-color:black;
    scroll-behavior: smooth;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

a {
    color: white !important;
}

* {
    box-sizing: border-box;
    /* outline:1px solid limegreen !important; */
    /* background:rgb(0 100 0 / 0.1) !important; */
    padding:0;
    border:none;
    margin:0;
}

#logo-main {
    border:2px solid #28a745!important ;
    
}

#contact-top {
    border-bottom:1px solid #28a745!important;
}

.map, .tele {
    color:#28a745!important;
}

#logo-main a {
    text-decoration: none;
    color:#28a745!important;
}

.dropdown-toggle::after {
    color:#28a745!important;
}

/* .dropdown-header {
    color:black!important;
} */



#logo-main a:hover,
#allvehlink:hover,
#checkout-btn:hover,
.tele:hover,
.map:hover,
#smallbag:hover,
#baggy:hover,
.linkhover:hover,
.nav-item a:hover {
    cursor: pointer;
    color: #12ec45!important;  
}

.hoverbutton:hover {
    cursor: pointer;
    background-color:#12ec45 !important;  
    color:black;
    
}


#navbar {
    border-bottom:2px solid #28a745!important;
}
#smallbag {
    color: #28a745 !important;
    }

.greenink {
    color: #28a745 !important;
}

.greenback {
    background-color: #28a745;
}

.greenbutton {
    background-color: #28a745;
    border-radius: 4px;
}

.radiob {
    font-size: .8rem;
}


.navbar-toggler {
    background-color: #28a745;
    border:1px solid black!important;
    color: black !important;
}

li.nav-item.dropdown {
    list-style-type: none;
}

#middlehead {
    color:#28a745;
}


.dropdown-item {
    color: black !important;
}

#image {
    background-color: aliceblue;
    vertical-align: top;
    height:35vh;
    width:100vw;
    background-size: cover;
    /* background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/w_320,h_309/v1664276306/media/pp5/ferrari-small320front-pp5_a9fqoy.jpg");
      */
    /* background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/w_320,h_288/v1664278412/media/pp5/Lamborghini-side-view_mjephz.jpg"); */
    background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/c_scale,w_300,h_288/v1664279796/media/pp5/greenlambo-small-pp5_foazm6.jpg");
}


/* bag */

#body-bag {
    font-size:0.8rem;
}

/*mailchimp*/

#mc_embed_signup{
    background:#fff;
    /* clear:left; */
    font:14px Helvetica,Arial,sans-serif;
    margin:20px;
 }

 /*--carousel--*/

#carousel{
    min-height: 270px;
}

#carowrap {
    background:aliceblue;
}

.img-height {
    min-height:200px;
    border:2px solid black!important;
    object-fit: contain;
}

.cardetail {
    min-height:60px;
    border:2px solid black;
    border-top: none;
}

#image-vehicle {
    width: 100%;
    object-fit: fill;

}

/* google map */

.map-responsive{

    overflow:hidden;

    padding-bottom:56%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

#orderhistorytable {
    padding-left: 5px!important;
    padding-right: 5px!important;
}


/*-----media queries----*/

@media screen and (min-width:375px) {
    #carousel{
        min-height: 320px;
    }

    #orderhistorytable {
        padding-left: inherit!important;
        padding-right: inherit!important;
    }
    
    .img-height {
        min-height:280px;
        object-fit: fill;
    }

    #image {
        background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/c_scale,w_375,h_288/v1664279796/media/pp5/greenlambo-small-pp5_foazm6.jpg");
    }

    #body-bag {
        font-size:initial;
    }
}


@media screen and (min-width:425px) {
    #carousel{
        min-height: 425px;
    }
    
    .img-height {
        min-height:350px;
        object-fit: contain;
    }

    #image {
       background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/v1664279796/media/pp5/greenlambo-small-pp5_foazm6.jpg");
        /* background-image:url("https://res.cloudinary.com/dpudxnll7/image/upload/c_scale,fl_ignore_aspect_ratio,h_300/v1664278412/media/pp5/Lamborghini-side-view_mjephz.jpg"); */
        /* background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/q_auto:eco/v1659362355/media/pp5/ferrari-320-pp5_mjovzg.webp"); */
    }

}

@media screen and (min-width:768px) {
    #image {
        /* background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/v1664102996/media/pp5/ferrari-wide-landscwebp_lc2y5f.webp"); */
        /* background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/v1664278142/media/pp5/lotusside_gz8rb5.jpg"); */
        background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/c_scale,w_690,h_288/v1664278412/media/pp5/Lamborghini-side-view_mjephz.jpg");
        object-position: 50% -10%;
        
        
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;
        border:2px #28a745 solid;
        
    }

    .radiob {
        font-size: 1.3rem;
    }

    #carousel{
        min-height: 550px;
    }
    
    .img-height {
        min-height:480px;
        object-fit: contain;
    }

    #footer-row {
        flex-wrap: nowrap;
    }
    
    #chimp {
        flex:auto;
    }

}

@media screen and (min-width:1024px) {
    #carowrap{
        min-height: 700px;
        max-height: 700px;
    }

    #caro {
        min-height: 684px;
        max-height:684px;
    }

    #carouselExampleSlidesOnly {
        min-height: 684px;
        max-height:684px;
    }

    .carousel-inner {
        min-height: 684px;
        max-height:684px;
    }

    #carousel {
        height: auto;
    }

    .imagewrap{
        min-height: 624px;
        max-height: 624px;
    }

    #image{
        background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/c_scale,w_921,h_288/v1664278412/media/pp5/Lamborghini-side-view_mjephz.jpg");
    }
    
    .img-height {
        min-height: 624px;
        max-height: 624px;
        object-fit: contain;
    }

    .topmarlg {
        margin-top:7% !important;
    }

    /* foramt images on 1024 screens
    #img-wrapper {
        margin-left:300px;
    } */

   

}

@media screen and (min-width:1440px) {

    #carowrap{
        min-height: 700px;
        max-height: 700px;
    }

    #caro {
        min-height: 684px;
        max-height:684px;
    }
   

    #carousel{
        height:auto;
        width:70%;
        margin:0 auto;
    }

    .img-height {
        min-height: 624px;
        max-height: 624px;
        object-fit: fill;
    }

    /*increse image size on larger screens for list vehicles screen*/
    .card-img-top {
        width:600px;
        height:330px;
        object-fit: fill;
    }

    #card-container {
        min-height:400px;
        max-height:400px;
    }

    #image {
        width:80vw;
        margin-left:10vw;
        margin-right:10vw;
        object-fit: cover;
        /* background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/v1665151687/media/pp5/caspar-rae-M09yaKs0z1I-unsplash_q1cor0.jpg"); */
        background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/c_scale,w_1152,h_320/v1664278412/media/pp5/Lamborghini-side-view_mjephz.jpg");
    }
    

}

@media screen and (min-width:1850px){
    #image {
        width:75vw;
        margin-left:12.5vw;
        margin-right:12.5vw;
        background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/c_scale,w_1600,h_350/v1664295590/media/pp5/lamboblues2000-pp5_wpkxlt.png");
    }

}

@media screen and (min-width:2000px) {
    #carousel {
        min-height:1556px;
    }

    .radiob {
        font-size:2.2rem;
    }

    .img-height {
        min-height: 1500px;
        max-height:1501px;
    }

    #image {
        object-fit:fill;
        height:50vh;
        background-image: url("https://res.cloudinary.com/dpudxnll7/image/upload/c_scale,w_1536,h_300/v1664295590/media/pp5/lamboblues2000-pp5_wpkxlt.png");
    }
}