<form method="POST" action="/stock/adjust_tradein/" data-hx-swap="outerHTML" data-hx-target="#id_base_price"  data-hx-post="{% url 'stock:adjust_tradein' %}" data-hx-trigger="change " class="form mb-2 text-white" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div id ="field{{forloop.counter }}">
            {{ field | as_crispy_field }}
        </div>
    {% endfor %}
        
    
    
    <div class="text-right">
        <button class="greenbutton linkhover p-1 m-1"  href="{% url 'stock:stock' %}">   Cancel   </button>
        <button class="greenbutton linkhover p-1  m-1" type="submit">Change Price</button>
    </div>
</form>