{% extends "base.html" %}
{% block title%} Add Vehicle{% endblock title %}

{% block content  %}
<h1 class="text-center text-white">Add A Vehicle</h1>


<div class="row no-gutters">
    <div class="col-12 offset-md-3 col-md-6 p-3">
        <form method="POST" action="{% url 'stock:add_stock' %}" class="form mb-2 text-white" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div class="text-right">
                <a class="btn btn-outline-black rounded-0 linkhover" href="{% url 'stock:stock' %}">Cancel</a>
                <button class="btn btn-black rounded-0 text-white linkhover" type="submit">Add Product</button>
            </div>
        </form>
    </div>            
</div>
{% endblock content%}