{% extends "base.html" %}
{% block title%} Add Vehicle{% endblock title %}

{% block content  %}
<h1 class="text-center text-white">Add A Vehicle</h1>


<div class="row no-gutters">
    <div class="col-12 offset-md-3 col-md-6 p-3">
        <form method="POST" action="{% url 'stock:add_stock' %}" class="form mb-2 text-white" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                {% else %}
                    <label for="id_image" class="d-none">image input</label>
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div class="text-right">
                
                <button class="greenbutton linkhover p-2" type="submit">Add Product</button>
            </div>
        </form>
    </div>            
</div>
<div >
    <a id="allvehlink" href="{% url 'home:home' %}" class="btn btn-outline-black rounded-0 mt-2 ml-5 p-0">
        <span class="icon">
            <i class="fas fa-chevron-left map"></i>
        </span>
        <span class="text-uppercase map">Back To Home</span>
    </a>
</div>
{% endblock content%}