{% extends "base.html" %}
{% block title%} Adjust Trade-in Base Price{% endblock title %}

{% block content  %}
<div class="container">
    <h1 class="text-center text-white">Adjust Trade-in Base Price</h1>


    <div class="row no-gutters">
        <div class="col-12 offset-md-3 col-md-6 p-3">
            {% include  "stock/partials/makerform.html" %}
        </div>            
    </div>
</div>

<div >
    <a id="allvehlink" href="{% url 'home:home' %}" class="btn btn-outline-black rounded-0 mt-2 ml-5 p-0">
        <span class="icon">
            <i class="fas fa-chevron-left map"></i>
        </span>
        <span class="text-uppercase map">Back To Home</span>
    </a>
</div>

<script>

    document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; // add a new header into the request
    });

  </script>
{% endblock content%}