{% extends "base.html" %}
{% block title%}Vehicle edit{% endblock title %}
{% load static %}

<!-- {% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} -->

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <hr>
                <h2 class="logo-font text-white mb-4">Product Management</h2>
                <h5 class="text-white">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form method="POST" action="{% url 'stock:edit_vehicle' vehicle_id %}" class="form text-white mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-center ">
                        <a id="allvehlink" href="{% url 'stock:stock' %}" class="btn btn-outline-black rounded-0 mt-4 p-0" style="float:left;">
                            <span class="icon">
                                <i class="fas fa-chevron-left map"></i>
                            </span>
                            <span class="text-uppercase map" >Back To ALL Vehicles</span>
                        </a>
                        <button class="greenbutton btn linkhover p-2 rounded-1 mt-3" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}