{% extends "base.html" %}
{% block title%}Vehicles{% endblock title %}

{% block content  %}

<div class="row no-gutters"></div>
<div class="container-fluid row no-gutters">
    {% for vehicle in object_list %}
        <div id="card-container" class=" offset-xs-0 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 offset-xl-0 col-xl-6 mt-1 mb-1" >
            <div class="card h-100  m-1" style="border:5px solid white!important; border-bottom: none; border-style:outset;">
                {% if vehicle.image_url %}
                    <a href="{% url 'stock:stock_detail' vehicle.pk %}" class="h-100">
                        <img style="max-width:100%; max-height:100%; width:100%; height:100%; object-fit:cover;" src="{{ vehicle.image_url }}" alt="picture of {% if vehicle.preowned%}used{% else %} new {% endif %} {{vehicle.maker}} {{vehicle.model}}">
                    </a>

                    <div class=" text-center " style="height:0px;" >
                        <p  style=" position:relative; top:-23px; color:whitesmoke; font-size: 1rem; font-weight: bold; ">{{ vehicle.year}}  {{ vehicle.maker }}  {{ vehicle.model }}</p>
                    </div>
                {% else %}
                    <a href="{% url 'stock:stock_detail' vehicle.pk %}" class="h-100">
                        <img style="max-width:100%; max-height:100%; width:100%; height:100%; object-fit:cover;" src="https://res.cloudinary.com/dpudxnll7/image/upload/w_800/q_auto:good/v1660076458/media/pp5/noimage-pp5_wohtub.png" alt="picture of {% if vehicle.preowned%}used{% else %} new {% endif %} {{vehicle.maker}} {{vehicle.model}}">
                    </a>

                    <div class=" text-center " style="height:0px;" >
                        <p  style=" position:relative; top:-23px; color:black; font-size: 1rem; font-weight: bold; ">{{ vehicle.year}}  {{ vehicle.maker }}  {{ vehicle.model }}</p>
                    </div>
                {% endif %}
                    
            </div>
        </div>  
    {% empty %}
        <h1 class="container text-center text-white">No Vehicles To Display<h1>
    {% endfor %}
</div>
{% endblock content %}


      