{% extends "base.html" %}
{% block title%} Trade-In{% endblock title %}

{% block content  %}


<div class="container-fluid row no-gutters">
    <div class="col-12 offset-md-2 offset-lg-3 col-md-3 " >
        <form id="trade-form" class="m-1 p-3" hx-post="{% url 'stock:trade_value' %}" hx-target="#trade-value"  >
            {% csrf_token %}
            <div><h3 class="text-white text-center ">Vehicle</h3></div>
            <div class="form-group">
                <label class="text-white" for="inputmanu">Make</label>
                <select id="inputmanu" name='inputmanu' class="form-control">
                    {% for make in makes %}
                    <option selected>{{make.maker}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="text-white" for="inputmodel">Model</label>
                <input type="text" class="form-control" name="inputmodel" id="inputmodel" placeholder="Model" maxlength="20" required="True">
            </div>
            <div class="form-group">
                <label class="text-white" for="inputyear">Year</label>
                <input type="number" max="2022" min="2005" class="form-control" id="inputyear" name="inputyear" placeholder="Year Of Manufacture" required="True">
            </div>
            <div class="form-group">
                <label class="text-white" for="inputodometer">Odometer</label>
                <input type="number" min="5000" max="250000" class="form-control" id="inputodo" name="inputodo" placeholder="Odometer (kms)" required="True">
            </div>
            <div><h3 class="text-white text-center">Vehicle Condition</h3></div> 
            <div class="radiob form-check form-check-inline text-white">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" required>
                <label class="form-check-label" for="inlineRadio1">Poor</label>
            </div>
            <div class=" radiob form-check form-check-inline text-white">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">Medium</label>
            </div>
            <div class=" radiob form-check form-check-inline text-white">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                <label class="form-check-label" for="inlineRadio3">Excellent</label>
            </div>
            <div>
            <button type="submit" class="btn btn-primary my-2" >Value Vehicle</button>
            </div>
            
        </form>
    </div>

    <div id="trade-value" class="text-white p-3 border-white col-12  col-md-4 col-lg-4 m-1" >
        
            <h3>Check Your Vechicles Trade-in Value</h3>
    
    </div>

</div>

<div class="container d-flex justify-content-around">
    <a id="allvehlink" href="{% url 'stock:stock' %}" class="btn btn-outline-black rounded-0 mt-2">
        <span class="icon">
        <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Back To Vehicles.</span>
    </a>
    <a id="allvehlink" href="{% url 'stock:clear_trade' %}" class="btn btn-primary my-2">Clear Current Trade</a>
</div>

<!-- adds a csrf token to all hx requests -->
  
<script>

    document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; // add a new header into the request
    });

  </script>
{% endblock content %}