{% extends "base.html" %}
{% block title%} Trade-In{% endblock title %}

{% block content  %}


<div class="container-fluid row no-gutters">
    <div class="col-12 offset-md-2 offset-lg-3 col-md-8  col-lg-6 p-3" >
        <form id="trade-form" class="m-1 p-3" data-hx-post="{% url 'stock:trade_value' %}" data-hx-target="#trade-value"  >
            {% csrf_token %}
            <div><h3 class="text-white text-center ">Vehicle</h3></div>
            <div class="form-group">
                <label class="text-white" for="inputmanu">Make</label>
                <select id="inputmanu" name='inputmanu' class="form-control">
                    {% for make in makes %}
                    {% if forloop.first %}
                        <option selected>{{make.maker}}</option>
                    {% else %}
                    <option>{{make.maker}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="text-white" for="inputmodel">Model</label>
                <input type="text" class="form-control" name="inputmodel" id="inputmodel" placeholder="Model" maxlength="20" required>
            </div>
            <div class="form-group">
                <label class="text-white" for="inputyear">Year</label>
                <input type="number" max="2022" min="2005" class="form-control" id="inputyear" name="inputyear" placeholder="Year Of Manufacture" required>
            </div>
            <div class="form-group">
                <label class="text-white" for="inputodo">Odometer</label>
                <input type="number" min="5000" max="250000" class="form-control" id="inputodo" name="inputodo" placeholder="Odometer (kms)" required>
            </div>
            <div><h3 class="text-white text-center">Vehicle Condition</h3></div> 
            <div class="radiob form-check form-check-inline text-white">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" required>
                <label class="form-check-label" for="inlineRadio1">Poor</label>
            </div>
            <div class=" radiob form-check form-check-inline text-white">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">Medium</label>
            </div>
            <div class=" radiob form-check form-check-inline text-white">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                <label class="form-check-label" for="inlineRadio3">Excellent</label>
            </div>
            <div>
            <button type="submit" class="greenbutton linkhover p-2 mt-1" >Value Vehicle</button>
            </div>
            
        </form>
    </div>

    <div id="trade-value" class="text-white p-3 col-12 offset-md-2 offset-lg-3  col-md-8 col-lg-6 " >
        
            <h3 class="mt-1 pt-3 d-none">Check Your Vehicles Trade-in Value</h3>
    
    </div>

</div>

<div class="container d-flex justify-content-around">
    <a id="allvehlink" href="{% url 'stock:stock' %}" class="btn btn-outline-black rounded-0 mt-2 p-0">
        <span class="icon">
            <i class="fas fa-chevron-left map"></i>
        </span>
        <span class="text-uppercase map">Back To ALL Vehicles</span>
    </a>
    <a id="allvehlink1" href="{% url 'stock:clear_trade' %}" class=" btn greenbutton linkhover p-2" style="color: black;">Clear Current Trade</a>
</div>

<!-- adds a csrf token to all hx requests -->
  
<script>

    document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; // add a new header into the request
    });

  </script>
{% endblock content %}