<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
{% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block corecss %} 
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dpudxnll7/image/upload/v1658847796/media/pp5/pp5-favicon_uynn8j.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <!-- <link rel="stylesheet" href="{% static 'css/prefixed.css' %}">   -->
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block corejs %}
    <!-- <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script> -->
    <script src="https://kit.fontawesome.com/081f6ba32a.js" crossorigin="anonymous"></script>
    <!-- <script src="https://use.fontawesome.com/a9ef3e2825.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_js %}
{% endblock %}

    
<title>{% block title%}{% endblock title %}</title>
</head>

<body class="d-flex flex-column dark main-bg h-100" style="background:#92e2da;">
    <div class="">
      
    <!--===============================navbar section=======================================-->
    <header>
        <div class="container barsty">
            <!-- <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="{% url 'home:home' %}"><img  src="https://res.cloudinary.com/dpudxnll7/image/upload/v1658846450/media/pp5/pp5-logov3resized_nolpid.png" alt="hotel logo" style="height:auto; width:100%;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown mt-2 {% if user.is_authenticated %} ml-3 {% endif%}" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Pages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="">Home</a>
                            <a class="dropdown-item" href="">Information</a>
                            <a class="dropdown-item" href="">Reviews</a>
                            {% if user.is_staff %}
                            <a class="dropdown-item" href="" aria-label="dropdowm menu contact page">Staff Page</a>
                            {% endif %}
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item cus-nav-p">
                            <a class="nav-link" href="{% url 'account_logout' %}" aria-label="logout button">Logout</a>
                        </li>
                        <li class="nav-item cus-nav-p">
                            <a class="nav-link" href="" aria-label="myaccount button">My Account</a>
                        </li>
                        <li class="cus-nav-p">
                            <p class="nav-link float-right blacktext" aria-label="logged in as ">Logged in as User: {{ request.user.username }}</p>
                        </li>
                    {% else %}
                        <li class="nav-link cus-nav-p">
                            <a class="nav-link" href="{% url 'account_login' %}" aria-label="log in button">Login</a>
                        </li>
                        <li class="nav-link cus-nav-p">
                            <a class="nav-link" href="" aria-label="sign up button">Register</a>
                        </li>
                    {% endif%}
                      
                  </ul>
                </div>
            </nav>   -->
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #92e2da;">
                <a class="navbar-brand" href="/">
                    <!-- <img  src="https://res.cloudinary.com/dpudxnll7/image/upload/v1658848875/media/pp5/pp5-logov3resizedlong_tj2c3g.png" alt="hotel logo" style="height:auto; width:100%;"> -->
                    <div>
                      
                      <!-- <h1><i class="fa-solid fa-car"></i>Car4u</h1> -->
                      <h1><span><i class="fa fa-car" aria-hidden="true"></i></i></span>Car4u</h1>
                    </div>
                    
                  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        </div>            
    </header>

     <!--======================Messages section=============================-->
     <div class="container ">
        <div class="row no-gutters">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show text-center" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
            
   
        <!--=========================Block section====================-->
    <main class="flex-shrink-0 main-bg cusp" >
        {% block content %}
        <!-- Content Goes here -->
       
        {% endblock content %}
    </main>
    

    <script src="https://kit.fontawesome.com/081f6ba32a.js" crossorigin="anonymous"></script><!--link to Fontawesome-->
    <!--===================script for closing messages=============-->
    <!--===========this script is taken from CI course material====-->
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 10000);
    </script>
    </div>
    <!--===================Footer=================-->
    <footer class="foot">
        
    </footer>
    
</body>
</html>