{% extends "base.html" %}
{% load static %}

{% block title%}Checkout-Thank You{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!--title -->
<div class="container-fluid text-center text-white border-0">
    <div class="row border-0">
        <div class="col border-0">
            <hr>
            <h2 class="logo-font mb-2">THANK YOU</h2>
            <hr>
        </div>
    </div>
</div>

<!-- form-->

<div class="container-fluid">
    <div class="row no-gutters border-0">
    
        
        
       
    
    </div>
</div>


<!--back to stock page link-->
<div class="row no-gutters align-items-center">
    <div class="offset-1 col-10 col-lg-5 w-50">
        <a id="allvehlink" href="{% url 'stock:stock' %}" class="btn btn-outline-black rounded-0 mt-2">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Back To ALL Vehicles</span>
        </a>
    </div>
    
    
</div>

{% endblock content %}



